<h1>Listing owners</h1>

<table>
  <tr>
    <th>User</th>
    <th>Book</th>
  </tr>

<% for owner in @owners %>
  <tr>
    <td><%=h owner.user_id %></td>
    <td><%=h owner.book_id %></td>
    <td><%= link_to 'Show', owner %></td>
    <td><%= link_to 'Edit', edit_owner_path(owner) %></td>
    <td><%= link_to 'Destroy', owner, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New owner', new_owner_path %>
