<b><%# @titel%></b>
<%# @titles%>
<%# @images%>
<br>
<%# image_tag(@image)%>
<div class=amazon_result>
<table border="1">
<% @amazon_books.each do |book|%>
    <tr>
    	<td>
    		<input type="button" value="この本を登録" onclick="setBook('<%= book.title%>','<%= book.auther%>','<%= book.isbn%>')">
    	</td>
        <td>
        	title:<%= book.title%><br/>
			auther:<%= book.auther%><br/>
			isbn:<%= book.isbn%>
        </td>
        <td>
        	<%= image_tag(book.image)%>
        </td>
    </tr>
<%end%>
</table>

</div>