<h1>Listing books</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Isbn</th>
    <th>Author</th>
  </tr>

<% for book in @books %>
  <tr>
    <td><%=h book.name %></td>
    <td><%=h book.isbn %></td>
    <td><%=h book.author %></td>
    <td><%= link_to 'Show', book %></td>
    <td><%= link_to 'Edit', edit_book_path(book) %></td>
    <td><%= link_to 'Destroy', book, :confirm => 'Are you sure?', :method => :delete %></td>
	<td><input type="submit" value="借りる"></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New book', new_book_path %>
