
<h1>New book</h1>
<%= error_messages_for :book %>
<script type="text/javascript">
	function setBook(title, auther, isbn){
		document.getElementById("book_name").value = title;
		document.getElementById("book_author").value = auther;
		document.getElementById("book_isbn").value = isbn;
	}
	
</script>




<% form_for(@book) do |f| %>
<div class="posting_field">
<table  border="0">
    <tr>
        <td>
        	title
        </td>
        <td>
        	<%= f.text_field :name %>
        </td>
    </tr>
    <tr>
        <td>
        	auther
        </td>
        <td>
        	<%= f.text_field :author %>
        </td>
    </tr>
    <tr>
        <td>
        	isbn
        </td>
        <td>
        	<%= f.text_field :isbn %>
        </td>
    </tr>
    <tr>
        <td>
        	Owner
        </td>
        <td>
        	<%= select( "owner", "owner_id", owners_select) %>
        </td>
    </tr>
</table>


</div>
<div class="search_field">
		<p>
			<p> 検索:<%= text_field_tag 'key_word' %></P>
			<p id ="amazon_list"></p>
			<%= observe_field 'key_word',
				:update => 'amazon_list',
				:url	=> { :action => 'amazon_search' },
				:with	=> 'key_word' ,
				:frequency => 1.5 %>
		  </P>
		
</div>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', books_path %>
