<h1>New book</h1>

<%= error_messages_for :book %>

<% form_for(@book) do |f| %>
  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>
  

  <p>
    <b>Isbn</b><br />
    <%= f.text_field :isbn %>
  </p>

  <p>
    <b>Author</b><br />
    <%= f.text_field :author %>
  </p>
  <p>
    <b>Owner</b><br />
    <%= select( "owner", "owner_id", owners_select) %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<p>
  	<b>Ajax Name</b>
	<p> 検索:<%= text_field_tag 'key_word' %></P>
	<p id ="amazon_list"></p>
	<%= observe_field 'key_word',
		:update => 'amazon_list',
		:url	=> { :action => 'amazon_search' },
		:with	=> 'key_word' ,
		:frequency => 0.5 %>
  </P>

<%= link_to 'Back', books_path %>
